{% extends "main.html" %}
{% block title %}All known PE compilation timestamps{% endblock %}

{% block content %}
<div class="container">
  <h1>Compilation timestamps</h1>

    {% if timestamps %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Timestamp ISO</th>
                    <th>Frequency</th>
                </tr>
            </thead>
            <tbody>
                {% for t, iso, freq in timestamps %}
                <tr>
                    <td><a href="{{ url_for('pe_ts', timestamp=t) }}">{{ t }}</a></td>
                    <td>{{ iso }}</td>
                    <td>{{ freq }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif timestamp %}
        <h2> {{ timestamp }} </h2>
        {% include "block_events.html" with context %}
        {% include "block_samples.html" with context %}
    {% endif %}
</div>
{% endblock %}
