{% extends "main.html" %}
{% block title %}All known PE entrypoint{% endblock %}

{% block content %}
<div class="container">
  <h1>Entrypoints</h1>

    {% if epts %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Entrypoint</th>
                    <th>Frequency</th>
                </tr>
            </thead>
            <tbody>
                {% for ept, freq in epts %}
                <tr>
                    <td><a href="{{ url_for('pe_entrypoint', ept=ept) }}">{{ ept }}</a></td>
                    <td>{{ freq }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif ept %}
        <h2> {{ ept }} </h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Sha256</th>
                </tr>
            </thead>
            <tbody>
                {% for s in samples %}
                <tr>
                    <td><a href="{{ url_for('pe_sample_info', sha256=s)}}">{{ s }}</a></td>
                    <!-- TODO: Add some more details on the samples on that page -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
