{% extends "bootstrap/base.html" %}
{% block title %}Events{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h1>All events</h1>

<form action="merged" method=post>
    <input type=submit value=Merge>
<table class="table">
    <thead>
        <tr>
            <th>Event ID</th>
            <th>Info</th>
            <th>Date</th>
            <th>Tags</th>
        <tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td><input type=checkbox name=to_merge value="{{ event.eid }}"> {{ event.eid }}</td>
            <td>{{ event.info }}</td>
            <td>{{ event.date }}</td>
            <td>{{ ', '.join(event.tags) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>
</div>
{% endblock %}
