{% extends "bootstrap/base.html" %}
{% block title %}Groups{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h1>All groups</h1>

<h2>Select one single group to see if there are intesecting values.
Select more than one group to see the values intersecting between all the groups</h2>

<form action="merged_groups" method=post>
<input type=submit value=Merge>
{% for type, eg in events_in_groups.items() %}
    {% if type %}
        <h2>{{ type }}</h2>
    {% else %}
        <h2>User Created</h2>
    {% endif %}
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            {% for group, event_digests in eg %}
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ quote(group) }}">{{ group }}</a>
                    {% if type %}
                        <input type=checkbox name=to_merge value="{{ type }}:{{ group }}">
                    {% else %}
                        <input type=checkbox name=to_merge value="{{ group }}">
                    {% endif %}
                </h4>
            </div>
            <div id="collapse{{ quote(group) }}" class="panel-collapse collapse">
                <table class="table">
                <thead>
                    <tr>
                        <th>Event ID</th>
                        <th>Info</th>
                        <th>Date</th>
                        <th>Tags</th>
                    <tr>
                </thead>
                <tbody>
                    {% for event in event_digests %}
                    <tr>
                        <td>{{ event.eid }}</td>
                        <td>{{ event.info }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ ', '.join(event.tags) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
</form>
{% endblock %}
