{% extends "main.html" %}
{% block title %}All known PE Imphashes{% endblock %}

{% block content %}
<div class="container">
  <h1>Imphashes</h1>

    {% if imphashs %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Imphash</th>
                    <th>Frequency</th>
                </tr>
            </thead>
            <tbody>
                {% for imphash, freq in imphashs %}
                <tr>
                    <td><a href="{{ url_for('pe_imphash', imphash=imphash) }}">{{ imphash }}</a></td>
                    <td>{{ freq }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif imphash %}
        <h2> {{ imphash }} </h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Sha256</th>
                </tr>
            </thead>
            <tbody>
                {% for s in samples %}
                <tr>
                    <td><a href="{{ url_for('pe_sample_info', sha256=s)}}">{{ s }}</a></td>
                    <!-- TODO: Add some more details on the samples on that page -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
