{% extends "main.html" %}
{% block title %}All known PE Imphashes{% endblock %}

{% block content %}
<div class="container">
  <h1>Imphashes</h1>

    {% if imphashs %}
        <table class="table table-striped table-bordered" id="workbench_table">
            <thead>
                <tr>
                    <th>Imphash</th>
                    <th>Frequency</th>
                    <th>Unique EventIDs</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Imphash</th>
                    <th>Frequency</th>
                    <th>Unique EventIDs</th>
                </tr>
            </tfoot>
            <tbody>
                {% for imphash, freq, eids in imphashs %}
                <tr>
                    <td><a href="{{ url_for('pe_imphash', imphash=imphash) }}">{{ imphash }}</a></td>
                    <td>{{ freq }}</td>
                    <td>{{ eids }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif imphash %}
        <h2> {{ imphash }} </h2>
        {% include "block_events.html" with context %}
        {% include "block_samples.html" with context %}
    {% endif %}
</div>
{% endblock %}
