{% extends "main.html" %}
{% block title %}All known PE original filenames{% endblock %}

{% block content %}
<div class="container">
  <h1>Original Filenames</h1>

    {% if ofns %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Original Filename</th>
                    <th>Frequency</th>
                    <th>Unique EventIDs</th>
                </tr>
            </thead>
            <tbody>
                {% for ofn, freq, eids in ofns %}
                <tr>
                    <td><a href="{{ url_for('pe_original_filename', ofn=ofn) }}">{{ ofn }}</a></td>
                    <td>{{ freq }}</td>
                    <td>{{ eids }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif ofn %}
        <h2> {{ ofn }} </h2>
        {% include "block_events.html" with context %}
        {% include "block_samples.html" with context %}
    {% endif %}
</div>
{% endblock %}
